.col {
    padding: .4em 1.3em;
  }
  
  .color-dark {
    background: #2885c4;
  }
  
  .color-light {
    background: #57b3f1;
  }
  
  .container {
    display: grid;
    grid-template-columns: 50% auto;
  }
  
  input {
    &.btn {
      background: #a5f883;
      border: 0;
      color: #003a61;
      cursor: pointer;
      display: block;
      margin-bottom: 1em;
      padding: 1em 3em;
    }
  
    &.txt {
      border: 0;
      margin-bottom: 2em;
      padding: 1em;
      width: 80%;
    }
  }
  
  .life-container {
    background: #3fa0e1;
    cursor: pointer;
    font-weight: bold;
    padding: .5em;
  }
  
  .sm {
  
  }